/* 
 * 全般
 */
table {
	border-collapse: separate;
	border-spacing: 0;
}

img {
	vertical-align: top;
}

/* 
 * シンタックスハイライト
 */
.code {
	font-family: monospace;
	margin: 2px;
	padding: 5px;
	background-color: #fafafa;
	word-break: break-all;
}

.code--comment {
	color: #969696;
}

.code--statement {
	color: #0000ff;
}

.code--constant {
	color: #777700;
}

/* 
 * アプリケーション
 */
/* アプリケーション > トータル表 */
.total-tables {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.total-table {
	margin: 10px;
}

.total-table td {
	text-align: right;
}

.total-table td, .total-table th {
	border: 1px #fff solid;
}

.total-table td.total-table--selected-cell,
.total-table th.total-table--selected-cell {
	background-color: #f0f8ff;
	border-color: #0080ff;
}

.total-table--selected-all {
	background-color: #f0f8ff;
}

.total-table--selected-row {
	background-color: #f0f8ff;
}

.total-table--selected-column-1 td:nth-child(2),
.total-table--selected-column-1 th:nth-child(2) {
	background-color: #f0f8ff;
}

.total-table--selected-column-2 td:nth-child(3),
.total-table--selected-column-2 th:nth-child(3) {
	background-color: #f0f8ff;
}

.total-table--selected-column-3 td:nth-child(4),
.total-table--selected-column-3 th:nth-child(4) {
	background-color: #f0f8ff;
}

.total-table--selected-column-4 td:nth-child(5),
.total-table--selected-column-4 th:nth-child(5) {
	background-color: #f0f8ff;
}

/* アプリケーション > リザルト一覧 */
.results-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.results-table {
	margin: 10px;
}

.results-table td, .results-table th {
	border: 1px #fff solid;
}

.page-number {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px #e0e0e0 solid;
}

.page-number--current {
	background-color: #f6f6f6;
}

.page-ellipses {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
}

.results-empty {
	height: 64px;
	padding-left: 16px;
	padding-right: 16px;
	border: 1px #e0e0e0 solid;
	line-height: 64px;
	text-align: center;
}
