/**
 * サイト
 */
body {
	margin: 0;
	font-family: sans-serif;
	line-height: 1.5;
	color: #282828;
}

img {
	vertical-align: middle;
}

a {
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

input {
	font: inherit;
}

.site-header {
	display: flex;
	box-sizing: content-box;
	border-bottom: 1px solid gainsboro;
	white-space: nowrap;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
}

.site-title {
	margin: 0 12px;
}

.site-title > a {
	display: inline-block;
	text-align: center;
}

.site-main {
	padding-bottom: 8px;
}

@media (min-width: 768px) {
	.site-header {
		height: 64px;
	}

	.site-title {
		font-size: 22px;
		line-height: 32px;
	}

	.site-main {
		padding-top: 65px;
	}
}

@media (max-width: 767px) {
	.site-header {
		height: 48px;
	}

	.site-title {
		font-size: 16px;
		line-height: 24px;
	}

	.site-main {
		padding-top: 49px;
	}
}

.site-main h1,
.site-main h2,
.site-main h3,
.site-main h4,
.site-main h5,
.site-main h6 {
	margin-left: 12px;
	margin-right: 12px;
}

.site-main p {
	padding: 0 12px;
}

.site-main ul {
	padding-left: 40px;
	padding-right: 12px;
}

.site-main pre {
	padding: 0 12px;
}

/**
 * シンタックスハイライト
 */
.code {
	white-space: pre-wrap;
	word-break: break-all;
	background-color: #fafafa;
}

.code__comment {
	color: #969696;
}

.code__constant {
	color: #777700;
}

.code__statement {
	color: #0000ff;
}

.code__type {
	color: #0000ff;
}

/**
 * アプリケーション
 */
/**
 * アプリケーション > 全般
 */
.file {
	width: 100%;
}

.togglable:not(.displayed) {
	display: none;
}

.error {
	font-weight: bold;
	color: red;
}

/**
 * アプリケーション > トータル表
 */
.total-tables {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.total-table {
	margin: 10px;
	border-collapse: separate;
	border-spacing: 0;
	--selected-bg-color: #e8f4ff;
}

.total-table td {
	text-align: right;
}

.total-table td,
.total-table th {
	border: 1px #fff solid;
}

.total-table td.total-table--selected-cell,
.total-table th.total-table--selected-cell {
	background-color: var(--selected-bg-color);
	border-color: #0080ff;
}

.total-table--selected-all tr {
	background-color: var(--selected-bg-color);
}

.total-table--selected-row {
	background-color: var(--selected-bg-color);
}

.total-table--selected-column {
	background-color: var(--selected-bg-color);
}

/**
 * アプリケーション > リザルト一覧
 */
.filtered-results {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.selected-results-table {
	margin: 10px;
}

.selected-results-table td,
.selected-results-table th {
	border: 1px #fff solid;
}

.page-number {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px #d0d0d0 solid;
	background-color: #f6f6f6;
}

.page-number--current {
	background-color: #fff;
}

.page-ellipsis {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
}

.filtered-results-empty {
	height: 64px;
	padding-left: 16px;
	padding-right: 16px;
	border: 1px #e0e0e0 solid;
	line-height: 64px;
	text-align: center;
}
